<div class="board-box">
    <h2>{{ board.name }}<span class="percent"> - {{ board.percent }}%</span></h2>

    <div class="chart-control">
        <span
            ng-class="(chart_type == 'progress') ? 'active' : ''"
            ng-click="setChart('progress')">Прогресс</span>
        <span
            ng-class="(chart_type == 'diff') ? 'active' : ''"
            ng-click="setChart('diff')">Изменение</span>
    </div>

    <div class="barchart">
         <canvas id="{{ board.id }}" class="chart chart-bar"
            chart-data="chart.data"
            chart-labels="chart.labels"
            chart-series="chart.series">
        </canvas>
    </div>
</div>

<div ng-show="cards_todo.length" class="board-cards">
    <h3>Карточки &#8211; {{ cards_todo.length }}</h3>
    <ul>
        <li ng-repeat="card in cards_todo" class="board-box">
            <a href="/cards/{{ card.id }}"><b>{{ card.name }}</b></a>
            <span> - {{ card.percent }}%</span>
        </li>
    </ul>

    <div ng-show="cards_done.length">
        <h3 style="margin-top: 30px">Выполненные &#8211; {{ cards_todo.length }}</h3>
        <ul>
            <li ng-repeat="card in cards_done" class="board-box">
                <a href="/cards/{{ card.id }}"><b>{{ card.name }}</b></a>
                <span> - {{ card.percent }}%</span>
            </li>
        </ul>
    </div>
</div>
