<div class="board-box">
    <h2>{{ card.name }}<span class="percent"> - {{ card.percent }}%</span></h2>

    <div class="chart-control">
        <span
            ng-class="(chart_type == 'progress') ? 'active' : ''"
            ng-click="setChart('progress')">Прогресс</span>
        <span
            ng-class="(chart_type == 'diff') ? 'active' : ''"
            ng-click="setChart('diff')">Изменение</span>
    </div>

    <div class="barchart">
         <canvas id="{{ card.id }}" class="chart chart-line"
            chart-data="chart.data"
            chart-labels="chart.labels"
            chart-series="chart.series">
        </canvas>
    </div>
</div>

<div class="board-cards">
    <div ng-show="tasks_todo.length">
        <h3>Задания &#8211; {{ tasks_todo.length }}</h3>
        <ul>
            <li ng-repeat="task in tasks_todo" class="board-box">
                <b>{{ task.name }}</b>
            </li>
        </ul>
    </div>
    <div ng-show="tasks_done.length">
        <h3 style="margin-top: 30px">Выполненные &#8211; {{ tasks_done.length }}</h3>
        <div class="task-done">
            <ul>
                <li ng-repeat="task in tasks_done" class="board-box">
                    <b>{{ task.name }}</b>
                </li>
            </ul>
        </div>
    </div>
</div>
